<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <style>
        h1{
            color: #4f5053;
            margin-left: 5%;
            font-size: xx-large;
            margin-bottom: -1%;
        }
        table,tr,th,td{
            width: 1000px;
            border-spacing: 0em;
            text-align: center;
        }
        button{
            background-color: #00ca99;
            width: 80%;
            padding: 10px;
            border-radius: 5px;
            border: none;
        }
        .plus-sign{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            border-color: #90ead4;
            color: #ffffff ;
            font-weight: bold;
            font-size: 22px;
        }
        .click:active{
              font-size: 10px;
        }
        .click:hover{
            /*border-bottom: 4px solid gray;*/
           border-width: 2px;
            box-shadow: 10px 10px 10px blue;
            border-color: #2bc99b;
        }
        .disable:hover{
            cursor: not-allowed;
        }
        .disable{
            opacity: 0.8;
        }
        .primary{
            background-color:#00ca99 ;
            color: #ffffff;
        }
        .secondary{
            background-color: #e4ebed;
            color: grey;
        }
        .destructive{
            background-color: #fa7a59;
            color:#ffffff;
        }
        .primary-2nd{
            background-color: #ffffff;
            color: #00ca99;
        }
        .primary-2nd-td{
            background-color: #00ca99;
        }
        .primary-left{
            background-color:#ffffff;
            color:#00ca99;
            border-color: #00ca99;
            border-style: solid;
        }
        .secondary-2nd{
            background-color: #ffffff;
            color: grey;
            border-color: grey;
            border-style: solid;
        }
        .destructive-2nd{
            background-color: #ffffff;
            color:#fa7a59;
            border-color:#fa7a59;
            border-style: solid;
        }
        .primary-right{
            background-color:#00ca99;
            color:#ffffff;
            border-color:#ffffff;
            border-style: solid;
        }
        .click2:active{
            background-color:#00ca99;
            color: #ffffff;
        }
        .click2{
            border-width: 1px;
        }
        .
        .click3:active{
            background-color: #4f5053;
            color: gray;
        }
        .primary-right-td{
            background-color: #00ca99;
        }
        .disable2{
            border: none;
            opacity: 0.8;
            cursor: not-allowed;
        }
        .dotted{
            border-style: dotted;
            padding: 10px 15px;
        }
        .dashed{
            border-style: dashed;
            padding: 10px 15px;
        }
        .solid{
            border: solid;
            padding: 10px 15px;
        }
        .double{
            border: double;
            padding: 10px 15px;
        }
        .groove{
            border: groove;
            padding: 10px 15px;
        }
        .ridge{
            border: ridge;
            padding: 10px 15px;
        }
        .inset{
            border: inset;
            padding: 10px 15px;
        }
        .outset{
            border: outset;
            padding: 10px 15px;
        }
        .none{
            border: none;
            padding: 10px 15px;
        }
        .hidden{
            border: hidden;
            padding: 10px 15px;
        }
        .table-2{
            width: 80%;
            border-spacing: 100px;
            
        }
    </style>
</head>
<h1>Buttons</h1>
<body>
    <table cellpadding="10">
        <tr>
            <td></td>
            <td></td>
            <th style="color: #bccfd5;">Primary</th>
            <th style="color: #bccfd5;">Secondary</th>
            <th style="color: #bccfd5;">Destructive</th>
            <th style="color: #bccfd5;">Primary</th>
        <tr>
            <th style="color: #bccfd5;">Press, Hover, Default</th>
            <td><button class=" plus-sign click">+</button></td>
            <td><button class="click primary">Button</button></td>
            <td><button class="click secondary">Button</button></td>
            <td><button class="click destructive">Button</button></td>
            <td class="primary-2nd-td"><button class="click primary-2nd">Button</button></td>
        </tr>
        <tr>
            <th style="color: #bccfd5;">Disabled</th>
            <td><button class="plus-sign disable">+</button></td>
            <td><button class="disable primary">Button</button></td>
            <td><button class="disable secondary">Button</button></td>
            <td><button class="disable destructive ">Button</button></td>
            <td class="primary-2nd-td"><button class="disable primary-2nd">Button</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th style="color: #bccfd5; background-color: #00ca99;">Secondary</th>
        </tr>
        <tr>
            <th style="color: #bccfd5;">Press,Hover, Default</th>
            <td></td>
            <td><button class=" click click2 primary-left" >Button</button></td>
            <td><button class=" click click2 secondary-2nd">Button</button></td>
            <td><button class=" click click2 destructive-2nd">Button</button></td>
            <td class="primary-right-td"><button class=" click click2 primary-right">Button</button></td>
        </tr>
        <tr>
            <th style="color: #bccfd5;">Disabled</th>
            <td></td>
            <td><button class="disable2 primary-left" style="background-color:#00ca99 ; color:#ffffff">Button</button></td>
            <td><button class="disable2 secondary-2nd" style="background-color:#bccfd5 ; color:gray">Button</button></td>
            <td><button class="disable2 destructive-2nd" style="background-color:#fa7a59; color:#ffffff">Button</button></td>
            <td class="primary-right-td"><button class="disable2 primary-right" style="background-color:#ffffff ; color:#00ca99">Button</button></td>
        </tr>
    </table>
    <br>
    <br>
    <h1 >Borders</h1>
    <br>
    <table class="table-2">
        <tr>
            <td class="dotted">dotted</td>
            <td class="dashed">dashed</td>
        </tr>
        <tr>
            <td class="solid">solid</td>
            <td class="double">double</td>
        </tr>
        <tr>
            <td class="groove">groove</td>
            <td class="ridge">ridge</td>
        </tr>
        <tr>
            <td class="inset">inset</td>
            <td class="outset">outset</td>
        </tr>
        <tr>
            <td class="none">none</td>
            <td class="hidden">hidden</td>
        </tr>
    </table>
</body>
</html>